<div class="card">
    <div class="card__img">
        <img src="{{img_url}}">
    </div>
    <div class="card__info">
        <div class="card__info-header">
            <div class="card__info-category">Game Updates</div>
            <div class="™">|</div>
            <div class="card__info-date">07/24/24</div>
        </div>
        <div class="card__info-body">
            <div class="card__info-title">{{patch}}</div>
            <div class="card__info-pitch">It's time for {{patch}}</div>
        </div>
    </div>
</div>