<section class="greeting">
    <div class="video-container">
        <iframe width="1420" height="800"
            src="https://www.youtube.com/embed/AVzDeCSXjJk?&autoplay=1&playlist=AVzDeCSXjJk&loop=1&mute=1"
            title="World of Fantasy Creatures: Call of Dragons" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen id="video"></iframe>
        <div class="logo" id="logo">
            <span>IMB</span>
            <span>Immortal Biscuit</span>
        </div>
    </div>
</section>
<section class="welcome">
    <h2>Welcome to IMB - Immortal Biscuit</h2>
    <div class="welcome-pitch">Are you ready to join an alliance that values camaraderie, strategy, and
        relentless pursuit of
        victory?
        Look no further! IMB - Immortal Biscuit is on the hunt for active players who are eager to dive into the
        world of dragons, magic, and epic battles. <br><br>
        Joining us will grant you access to a wealth of features on our website, including: <br>

        <ul class="benefit-list">
            <li><span class="bold">Heroes:</span> Explore detailed information about every hero in the game.
            </li>
            <li><span class="bold">Artifacts:</span> Discover powerful artifacts to enhance your gameplay.</li>
            <li><span class="bold">Pets:</span> Learn about the unique pets that can aid you in your adventures.
            </li>
            <li><span class="bold">Hero Talent Simulation:</span> Experiment with different talent builds and
                optimize your heroes'
                potential.</li>
            <li><span class="bold">Tips and Tricks:</span> Get insights and strategies for every hero
                combination.</li>
            <li><span class="bold">Speed Up Calculator:</span> Efficiently manage and calculate the use of speed-ups to
                maximize your
                progress.</li>
        </ul>
        Become part of a community that thrives on teamwork and excellence. Join IMB - Immortal Biscuit today
        and embark on an unforgettable journey!
    </div>
    <div class="welcome__application"><a href="#" class="link">Apply here <i
                class="fa-solid fa-chevron-right chervon"></i></a></div>
</section>
<section class="featured-news">
    <h3>FEATURED NEWS</h3>
    <div class="card-container">
        {{#each versions as |version|}}
        {{> version-details}}
        {{/each}}
    </div>
</section>
<section class="hero-intro">
    <h3>HEROES</h3>
    <div class="hero-intro-container">
        <div class="hero-intro-bg">
            <div class="explore-more">
                <a href="#" class="link">EXPLORE MORE HEROES</a>
            </div>
        </div>
        <div class="hero-intro-nav">
            <ul class="list" id="hero-intro-list">
                <li class="list-item hero-type-btn" data-hero-type="0">
                    <div class="hero-info-group">
                        <div class="hero-type-container">
                            <img src="/images/inf-icon.webp" class="hero-type-img">
                            <div class="hero-type-title">TANK</div>
                        </div>
                    </div>
                </li>
                <li class="list-item hero-type-btn" data-hero-type="1">
                    <div class="hero-info-group">
                        <div class="hero-type-container">
                            <img src="/images/cav-icon.webp" class="hero-type-img">
                            <div class="hero-type-title">CAVALRY</div>
                        </div>
                    </div>
                </li>
                <li class="list-item hero-type-btn" data-hero-type="2">
                    <div class="hero-info-group">
                        <div class="hero-type-container">
                            <img src="/images/arc-icon.webp" class="hero-type-img">
                            <div class="hero-type-title">ARCHER</div>
                        </div>
                    </div>
                </li>
                <li class="list-item hero-type-btn" data-hero-type="3">
                    <div class="hero-info-group">
                        <div class="hero-type-container">
                            <img src="/images/mag-icon.webp" class="hero-type-img">
                            <div class="hero-type-title">MAGE</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>