<section class="greeting">
    <div class="video-container">
        <iframe width="1420" height="800"
            src="https://www.youtube.com/embed/AVzDeCSXjJk?&autoplay=1&playlist=AVzDeCSXjJk&loop=1&mute=1"
            title="World of Fantasy Creatures: Call of Dragons" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen id="video"></iframe>
        <div class="logo-frame">
            <div class="logo-container">
                <img src="images/cod-logo.png" class="logo-img" alt="">
            </div>
        </div>
    </div>
</section>
<section class="featured-news">
    <h3>FEATURED NEWS</h3>
    <div class="card-container">
        {{#each versions as |version|}}
        {{> version-details}}
        {{/each}}
    </div>
</section>
<section class="hero-intro">
    <h3>HEROES</h3>
    <div class="hero-intro-container">
        <div class="hero-intro-bg">
            <div class="explore-more">
                <a href="#" class="link">EXPLORE MORE HEROES</a>
            </div>
        </div>
        <div class="hero-intro-nav">
            <ul class="list" id="hero-intro-list">
                <li class="list-item hero-type-btn" data-hero-type="inf">
                    <div class="hero-info-group">
                        <div class="hero-type-container">
                            <img src="/images/inf-icon.webp" class="hero-type-img">
                            <div class="hero-type-title">TANK</div>
                        </div>
                    </div>
                </li>
                <li class="list-item hero-type-btn" data-hero-type="cav">
                    <div class="hero-info-group">
                        <div class="hero-type-container">
                            <img src="/images/cav-icon.webp" class="hero-type-img">
                            <div class="hero-type-title">CAVALRY</div>
                        </div>
                    </div>
                </li>
                <li class="list-item hero-type-btn" data-hero-type="arc">
                    <div class="hero-info-group">
                        <div class="hero-type-container">
                            <img src="/images/arc-icon.webp" class="hero-type-img">
                            <div class="hero-type-title">ARCHER</div>
                        </div>
                    </div>
                </li>
                <li class="list-item hero-type-btn" data-hero-type="mag">
                    <div class="hero-info-group">
                        <div class="hero-type-container">
                            <img src="/images/mag-icon.webp" class="hero-type-img">
                            <div class="hero-type-title">MAGE</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>