<section class="featured-news patch-notes">
    <h3>PATCH NOTES</h3>
    <div class="card-container">
        {{#each versions as |version|}}
        {{> version-details}}
        {{/each}}
    </div>
</section>