:root {
    --gold-color: #c28f2c;
    --nav-background-color: #191c27;
    --hover-background-color: rgba(128, 128, 128, 0.2);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    margin: 0 auto;
}

/* LOGO */
.logo {
    font-family: "Lora", 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
    color: var(--gold-color);
}

.logo span:last-child {
    display: none;
}

@media screen and (min-width: 768px) {
    .logo {
        font-size: 3.2rem;
        line-height: 1;
    }

    .logo span:last-child {
        display: block;
        font-size: 2rem;
    }
}

/* link */
.link {
    text-decoration: none;
    color: unset;
}

.link:visited {
    color: inherit;
}

/* LIST */
.list {
    margin: 0;
    padding: 0;
}

.list-item {
    list-style: none;
}

/* BUTTON */
.btn {
    background-color: unset;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
}

/* NAV */
header{
    background-color: var(--nav-background-color);
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    max-width: 1400px;
    margin: 0 auto;
}

#menu {
    background-color: var(--nav-background-color);
    position: absolute;
    top: 0;
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    z-index: 2;
}

nav .logo{
    margin-left: 10px;
}


nav .btn:hover {
    background-color: var(--hover-background-color)
}

nav .menu-toggle-container {
    padding: 10px;
}

nav .list {
    padding: 10px;
}

nav .list-item{
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 15px;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

nav .list-item:last-child{
    margin: 0;
}

nav .list-item:hover{
    background-color: var(--hover-background-color);
}

nav .list-item:hover .link{
    color: var(--gold-color);
}

nav .list-item .link{
    font-size: 1.7rem;
    color: white;
}

.menu-toggle-icon {
    font-size: 3rem;
    color: #fff;
}

/* MENU */
.hamburger-menu-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

@media screen and (min-width: 768px){
    .menu-toggle-container{
        display: none;
    }

    .hamburger-menu-header{
        display: none;
    }

    #menu{
        display: block;
        position: unset;
        background-color: unset;
        height: auto;
        width: auto;
    }

    nav .list{
        display: flex;
    }

    nav .list-item{
        margin: 0;
    }
}

/* MAIN */
main{
    padding-top: 72px;
}

@media screen and (min-width: 768px){
    main{
        padding-top: 85px;
    }
}
/* GREETING */
.video-container{
    display: flex;
    justify-content: center;
    position: relative;

}

.video-container .logo{
    position: absolute;
    z-index: 1;
    width: 100%;
    justify-content: center;
}

.video-container .logo span{
    font-size: 6rem;
    letter-spacing: 7px;
    color: #cba943;
    font-weight: bold;
}